
<div class="container-fluid">
<p></p>

<h3 style="text-align: center; color:cadetblue; font-weight: bold;"> Welcome to Design Media </h3>

<strong>  Designing Media is Software Devloper Company </strong>
<p>
    Designing Media is Angular based Devloper company.
</p>


<h4 style="color: blueviolet;"> Some of link are </h4>
<nav>
    <h5><a routerLink="/" routerLinkaActive="active">Home</a> </h5>
    <h5> <a routerLink="about">About us</a> </h5>
    <h5><a routerLink="btnfun">Btnfun</a> </h5>
    <h5> <a routerLink="simpleform">Simple Form</a> </h5>
    <h5> <a routerLink="tdf">TDF Form</a> </h5>
    <h5>  <a routerLink="dataapi">Api Data Call</a> </h5>
    <h5>  <a routerLink="contact">Contact Us</a></h5>
       
    </nav>
<p></p>

    </div>