
<header>

    <div>
           <table width="100%"><tr><td align="left">
        
      
         
          <h3>
            <mat-icon> grain</mat-icon>Creative Design
           </h3>
              </td>
      
        <td align="right" valign="top">
        
<nav style="text-align: right;">
    <a routerLink="/" routerLinkaActive="active">Home</a>
    <a routerLink="about">About us</a>
    <a routerLink="btnfun">Btnfun</a>
    <a routerLink="simpleform">Simple Form</a>
    <a routerLink="tdf">TDF Form</a>
    <a routerLink="dataapi">Api Data Call</a>
    
    <a routerLink="contact">Contact Us</a>
    </nav>
        
      
        </td></tr></table>
      </div>



</header>







